#
# Just the requirements sorted by the different codes

# plot_stations.ipynb requires
pandas
pygmt

# download_data. py requires
SeisMIC  # retrievable on https://github.com/PeterMakus/SeisMIC
obspy

# get_data_cascadia.py requires
obspy
pwnstor # retrievable at https://github.com/niyiyu/pnwstore